html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main.entrada {
  text-align: center;
  padding: 0;
  margin: 0;
}

form.datos {
  text-align: left;
}

form.datos div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px 15px;
}

.form-label {
  margin-right: 10px;
  white-space: nowrap;
}

input[type="radio"] {
  width: 25px;
}

@media (max-width: 600px) {
  form.datos div {
    width: 100%;
    flex-direction: column;
  }
  form.datos div {
    margin: 5px;
  }
}